In [1]:
import pandas as pd
import numpy as np

In [4]:
data_raw = pd.read_csv("apple_stock.csv")

In [5]:
data_raw

            Date Close/Last     Volume      Open      High       Low
0     02/02/2022    $175.84   84914260  $174.745   $175.88   $173.33
1     02/01/2022    $174.61   86213910   $174.01   $174.84   $172.31
2     01/31/2022    $174.78  115541600   $170.16      $175   $169.51
3     01/28/2022    $170.33  179935700   $165.71   $170.35    $162.8
4     01/27/2022    $159.22  121954600   $162.45   $163.84   $158.28
...          ...        ...        ...       ...       ...       ...
1254  02/09/2017    $33.105  113285760  $32.9125  $33.1112    $32.78
1255  02/08/2017     $33.01   91766600  $32.8375   $33.055   $32.805
1256  02/07/2017   $32.8825  152633640   $32.635  $33.0225  $32.6125
1257  02/06/2017   $32.5725  107138120  $32.2825   $32.625   $32.225
1258  02/03/2017     $32.27   97840640  $32.0775  $32.2975    $32.04

[1259 rows x 6 columns]

In [36]:
data_raw[["Close/Last"]]=data_raw[["Close/Last"]].astype('str').replace({'\$':' '}, regex=True).astype('float')
data_raw[["Open"]]=data_raw[["Open"]].astype('str').replace({'\$':' '}, regex=True).astype('float')
data_raw[["High"]]=data_raw[["High"]].astype('str').replace({'\$':' '}, regex=True).astype('float')
data_raw[["Low"]]=data_raw[["Low"]].astype('str').replace({'\$':' '}, regex=True).astype('float')

data_preprocessed=data_raw

In [61]:
def stochastic_oscillator(close,low,high):
    return (close-low)/(high-low) * 100

def highest_or_lowest_x_adjacent(column,number_adjacent,if_highest=True):
    values=[]
    for i,row in enumerate(column):
        last_x_days_arr=[]
        for j in range(-number_adjacent,number_adjacent):
            try:
                last_x_days_arr.append(column.iloc[i+j])
            except:
                pass
        if if_highest:
            values.append(max(last_x_days_arr))
        else:
            values.append(min(last_x_days_arr))
    return values

In [59]:
data_preprocessed["Highest14"] = highest_or_lowest_x_adjacent(data_preprocessed["High"],7,if_highest=True)
data_preprocessed["Lowest14"] = highest_or_lowest_x_adjacent(data_preprocessed["High"],7,if_highest=False)

In [63]:
data_preprocessed["StochasticOscillator1d"] = data_preprocessed.apply(lambda row:stochastic_oscillator(row['Close/Last'],row['Low'],row['High']), axis=1)
data_preprocessed["StochasticOscillator14d"] = data_preprocessed.apply(lambda row:stochastic_oscillator(row['Close/Last'],row['Lowest14'],row['Highest14']), axis=1)

In [64]:
data_preprocessed

,Date,Close/Last,Volume,Open,High,Low,StochasticOscillator1d,Highest14,Lowest14,StochasticOscillator14d
0,02/02/2022,175.8400,84914260,174.7450,175.8800,173.3300,98.431373,175.8800,32.2975,99.972141
1,02/01/2022,174.6100,86213910,174.0100,174.8400,172.3100,90.909091,175.8800,32.2975,99.115491
2,01/31/2022,174.7800,115541600,170.1600,175.0000,169.5100,95.992714,175.8800,32.2975,99.233890
3,01/28/2022,170.3300,179935700,165.7100,170.3500,162.8000,99.735099,175.8800,32.2975,96.134626
4,01/27/2022,159.2200,121954600,162.4500,163.8400,158.2800,16.906475,175.8800,32.2975,88.396915
...,...,...,...,...,...,...,...,...,...,...
1254,02/09/2017,33.1050,113285760,32.9125,33.1112,32.7800,98.128019,34.1875,32.2975,42.724868
1255,02/08/2017,33.0100,91766600,32.8375,33.0550,32.8050,82.000000,34.0675,32.2975,40.254237
1256,02/07/2017,32.8825,152633640,32.6350,33.0225,32.6125,65.853659,34.0675,32.2975,33.050847
1257,02/06/2017,32.5725,107138120,32.2825,32.6250,32.2250,86.875000,34.0675,32.2975,15.536723
1258,02/03/2017,32.2700,97840640,32.0775,32.2975,32.0400,89.320388,33.7725,32.2975,-1.864407